@import "tailwindcss";
:root{
  --black: #2E2E2E;
  --white: #F5F1E8;
  
  --bg1: #F5F1E8;
  --bg2: #F2EBE3;
  --bg3: #EEE6DB;
  --bg4: #D8CAB8;

  --pri1: #A8C09A;
  --pri2:#4A6F44;

  --sec1: #446C6F;
  --sec2: #9AC0BA;

  --alt1: #69446F;
  --alt2: #915E99;
  --alt3: #6D5E76;

  --cancel: #6F4744;
}

@theme{
  --color-primary: var(--pri1);
  --color-primary-dark: var(--pri2);
  --color-secondary: var(--sec1);
  --color-secondary-dark: var(--sec2);
  --color-alt: var(--alt1);
  --color-alt-dark: var(--alt2);
  --color-alt-faded: var(--alt3);
  --color-cancel: var(--cancel);
  --color-bg: var(--bg1);
  --color-bg-light: var(--bg2);
  --color-bg-dark: var(--bg3);
  --color-bg-darker: var(--bg4);
}